{% load my_dialogs %}
<table>
    {% for record in detail_content %}
        {% if 'fields_meta_info' in record %}
            {% for key,value in record.items %}
                {% if key != 'fields_meta_info' %}
                    <tr>
                        <td>{{ record.fields_meta_info|get_item:key|get_item:'label' }}</td>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for key,value in record.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>