{% extends "FileStore/main_frame.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content-header-text %}
    Проекты
{% endblock %}

{% block main-content-area-block-header %}
    {{ form_name }}
{% endblock %}

{% block main-content-area-block-content %}
    <form method="post" id="edit_form">
        {% csrf_token %}
        {#        {{ form.as_p }}#}
        {% crispy form %}
        <button id="save_btn">СОХРАНИТЬ</button>
    </form>

{% endblock %}

{% block head %}
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
{% endblock %}

{% block foter_before_scipt %}
    {{ form.media }}
    <script>
        const myjq = jQuery.noConflict(true);
        myjq('#save_btn').on('click', function () {
            myjq('#edit_form').submit();
            console.log('dsfdfds');
        })
    </script>
{% endblock %}

{% block foter_after_scipt %}

{% endblock %}