{% extends "FileStore/main_frame.html" %}
{% block main-content-area-block-content %}
    <div class="container">
        <h1>Projects</h1>
        <table class="table table-responsive table-dark">
            <thead>
            <tr>
                <th>Название</th>
                <th>Создан</th>
                <th>Автор</th>
                <th>Изменен</th>
                <th>Изменивший</th>
                <th>Завершен</th>
                <th>Количество файлов</th>
                <th colspan="3">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for project in object_list %}
                    <tr>
                        <td>
                            {{ project.name}}
                        </td>
                        <td>
                            {{ project.created }}
                        </td>
                        <td>
                            {{ project.create_user.username}}
                        </td>
                        <td>
                            {{ project.updated }}
                        </td>
                        <td>
                            {{ project.update_user.username}}
                        </td>
                        <td>
                        </td>
                        <td>
                            {{ project.project_files.count}}
                        </td>
                        <td>
                        </td>
                        <td>
                            <a class="button btn-sm btn-info" href="{% url 'project-update' project.pk %}">Подробнее</a>
                        </td><td>
                            <a class="button btn-sm btn-primary" href="{% url 'project-update' project.pk %}">Изменить</a>
                        </td><td>
                            <a class="button btn-sm btn-danger" href="{% url 'project-delete' project.pk %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}

                </tr>
            {% else %}
                <tr><td colspan="5">
                <p>No projects yet.</p>
                </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% if is_paginated %}
        {% include "_pagination.html" %}
    {% endif %}
    </div>
{% endblock %}