{% extends "FileStore/main_frame.html" %}
{% load static %}

{% block content-header-text %}
    Проекты
{% endblock %}

{% block main-content-area-block-header %}
    Список проектов
{% endblock %}

                            {% block content-header-breadcamp %}
                            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-alt">
                                    {% block content-header-breadcamp-items %}
                                    <li class="breadcrumb-item">
                                        <a href="/">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'projects-list' %}">Проекты</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Список</li>
                                    {% endblock %}
                                </ol>
                            </nav>
                            {% endblock %}


{% block main-content-area-block-content %}
    <script src="{% static '/assets/js/ajax_communicator.js' %}"></script>
    <link rel="stylesheet" href="{% static '/assets/css/customize.css' %}" />
    <div class="container">
        <table class="table table-responsive table-dark">
            <thead>
            <tr>
                <th>Название</th>
                <th>Создан</th>
                <th>Автор</th>
                <th>Изменен</th>
                <th>Изменивший</th>
                <th>Завершен</th>
                <th>Количество файлов</th>
                <th colspan="3">Действие</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for project in object_list %}
                    <tr>
                        <td>
                            {{ project.name }}
                        </td>
                        <td>
                            {{ project.created }}
                        </td>
                        <td>
                            {{ project.create_user.username }}
                        </td>
                        <td>
                            {{ project.updated }}
                        </td>
                        <td>
                            {{ project.update_user.username }}
                        </td>
                        <td>
                        </td>
                        <td>
                            {{ project.project_files.count }}
                        </td>
                        <td>
                        </td>
                        <td>
                            <a class="button btn-sm btn-info" href="{%  url 'files-list2' project.pk %}" onclick="click_create_sub_row(this, 'GET', 'ModalProjectDetailID', 'ModalProjectDetailIDContent'); return false;">Подробнее</a>
                        </td>
                        <td>
                            <a class="button btn-sm btn-primary"
                               href="{% url 'project-update' project.pk %}">Изменить</a>
                        </td>
                        <td>
                            <a class="button btn-sm btn-danger" href="{% url 'project-delete' project.pk %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}

                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        <p>No projects yet.</p>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "_pagination.html" %}
        {% endif %}
        <div>
            <a class="btn btn-sm btn-info" href="{% url 'project-add' %}">Добавить проект</a>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="ModalProjectDetailID">
        <div class="modal-dialog modal-lg .modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Информация о файле</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-y: auto; max-height: 400px;" id="ModalProjectDetailIDContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}