{% extends "FileStore/main_frame.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load ajax_table %}

{% block content-header-text %}
    Файлы
{% endblock %}

{% block main-content-area-block-header %}
    {{ form_name }}
{% endblock %}

{% block main-content-page %}
    <div id="file_table" class="content">
        {#    {% ajax_table "file_table" "files-list-ajax" %}#}
        {{ view_content }}
        <div>
            <a class="btn btn-sm btn-info" href="{% url 'file-add' %}">Добавить файл</a>
        </div>
    </div>
{% endblock %}



{% block head %}
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
{% endblock %}

{% block foter_after_scipt %}
    {% if filter %}>
        {% block foter_before_scipt %}
            {{ filter.form.media }}
            <script>
                const myjq = jQuery.noConflict(true);
            </script>
        {% endblock %}
    {% endif %}
{% endblock %}