{% extends "mytemplates/mybacktemplate.html" %}
{% block main-content-area-block-content %}
    <div class="container">
        <h1>Projects</h1>
        <table class="table table-responsive table-dark">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Автор</th>
                <th>Изменен</th>
                <th>Изменивший</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for project in object_list %}
                    <tr>
                        <td>
                            {{ project.name}}
                        </td>
                        <td>
                            {{ project.created|date }}
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}

                </tr>
            {% else %}
                <tr><td colspan="5">
                <p>No projects yet.</p>
                </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}